.btn{
    cursor: pointer;
}


.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  font-size:24px;
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
th{
color: black;
background-color: white;

}
td{
color: black;
background-color: white;


}
.searchs
{
  margin-left: 35px;
}
